<div class="row">
    <div class="col-12 monConteneurBouttonCreation">
        <a href="{{ path("creation_module") }}"><button type="button" class="btn btn-primary">Création d'un nouveau module</button></a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Intitulé</th>
                <th scope="col">Nombres d'heures CM</th>
                <th scope="col">Nombres d'heures TD</th>
                <th scope="col">Nombres d'heures TP</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% set cpt = 0 %}
            {% for module in modules %}
                {% if(cpt%2==0) %}
                    <tr class="monTr table-secondary">
                        <td>{{module.intitule}}</td>
                        <td>{{module.nbHCM}}</td>
                        <td>{{module.nbHTD}}</td>
                        <td>{{module.nbHTP}}</td>
                        <td>
                            <a href="{{ path("modification_module", {"id": module.id}) }}">
                                <button type="button" class="btn btn-primary" >Modifier</button>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="{{ path('supprimer_module', {'id': module.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer ce module ?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ module.id) }}">
                                <button class="btn btn-primary">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr class="monTr">
                        <td>{{module.intitule}}</td>
                        <td>{{module.nbHCM}}</td>
                        <td>{{module.nbHTD}}</td>
                        <td>{{module.nbHTP}}</td>
                        <td>
                            <a href="{{ path("modification_module", {"id": module.id}) }}">
                                <button type="button" class="btn btn-primary" >Modifier</button>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="{{ path('supprimer_module', {'id': module.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer ce module ?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ module.id) }}">
                                <button class="btn btn-primary">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
                {% set cpt = cpt + 1 %}
            {% endfor %}
        </tbody>
    </table>
</div>