{{ form_start(form, {'attr': {'class':'was-validated'}}) }}
    <div class="form-group row">
        <label for="login" class="col-sm-2 col-form-label">
            {{ form_label(form.intitule) }}
        </label>
        <div class="col-sm-8">
            {{ form_widget(form.intitule) }}
        </div>
        <small id="emailHelp" class="form-text text-muted">
            {{ form_help(form.intitule) }}
        </small>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
    {% if(app.session.get('error') is not null and app.session.get('error')=="ERROR_MODULE") %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            L'intitulé du module existe déjà. Veuillez écrire un autre intitulé ...
        </div>
    {% endif %}
{{ form_end(form) }}